<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github_usx" value="https://nuget.pkg.github.com/usxpressinc/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github_usx>
      <add key="Username" value="%GITHUB_USER%" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github_usx>
    <github>
      <add key="Username" value="%GITHUB_USER%" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github>
  </packageSourceCredentials>
  <packageSourceMapping>
    <packageSource key="github_usx">
      <package pattern="USXpress.*" />
      <package pattern="BsonMapperGenerator" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
